@page "/about"
@inject HttpClient Http

<p>Just a Java/C# dev who wanted to build a tiny tool for chess players and try out Blazor in the process.</p>
<p>This app just talks to the chess.com API to bring back some relevant stats</p>